services:
  nginx:
    build:
      context: ./nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/custom.d:/etc/nginx/custom.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/logs:/var/log/nginx
      - ./nginx/whitelist.conf:/etc/nginx/whitelist.conf
      - ./nginx/logrotate/nginx:/etc/logrotate.d/nginx
      - ./nginx/docker-entrypoint.sh:/docker-entrypoint.sh
      - ./frontend/dist:/usr/share/nginx/html
    environment:
      - NODE_ENV=production
      - TZ=${TIMEZONE}
      - HOSTNAME=${HOSTNAME}
      # SSL settings
      - SSL_ENABLE=${SSL_ENABLE}
      - SSL_CERT_FILE=${SSL_CERT_FILE}
      - SSL_KEY_FILE=${SSL_KEY_FILE}
      # Port settings
      - FRONTEND_PORT=${FRONTEND_PORT}
      - BACKEND_PORT=${BACKEND_PORT}
      - PMA_PORT=${PMA_PORT}
      - GRAFANA_PORT=${GRAFANA_PORT}
      - REDIS_INSIGHT_PORT=${REDIS_INSIGHT_PORT}
      # Redis Insight authentication
      - REDIS_INSIGHT_USER=${REDIS_INSIGHT_USER}
      - REDIS_INSIGHT_PASSWORD=${REDIS_INSIGHT_PASSWORD}
    entrypoint: ["/docker-entrypoint.sh"]
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
      - "${BACKEND_PORT}:${BACKEND_PORT}"
      - "${PMA_PORT}:${PMA_PORT}"
      - "${GRAFANA_PORT}:${GRAFANA_PORT}"
      - "${REDIS_INSIGHT_PORT}:${REDIS_INSIGHT_PORT}"
    depends_on:
      frontend:
        condition: service_healthy
      backend:
        condition: service_healthy
    networks:
      - frontend-network
      - backend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "nginx -t || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
    environment:
      - NODE_ENV=production
      - TZ=${TIMEZONE}
      - SITE_URL=${SITE_URL}
      - VITE_SSL_ENABLE=${SSL_ENABLE}
      - VITE_PROJECT_NAME=${PROJECT_NAME}
      - VITE_PROJECT_VERSION=${PROJECT_VERSION}
      - VITE_PROJECT_DESCRIPTION=${PROJECT_DESCRIPTION}
      # API settings
      - VITE_API_HOST=${API_HOST}
      - VITE_API_PORT=${API_PORT}
    command: ["sh", "./init-prod.sh"]
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - frontend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "test -f /app/dist/index.html || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    environment:
      - TZ=${TIMEZONE}
      - DEBUG_MODE=false
      - LOG_LEVEL=${LOG_LEVEL}
      - SSL_ENABLE=${SSL_ENABLE}
      - SECRET_KEY=${SECRET_KEY}
      - PROJECT_NAME=${PROJECT_NAME}
      - PROJECT_VERSION=${PROJECT_VERSION}
      - PROJECT_DESCRIPTION=${PROJECT_DESCRIPTION}
      # CORS settings
      - HOSTNAME=${HOSTNAME}
      - BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_PORT=${FRONTEND_PORT}
      # Database settings
      - DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@mariadb/${DB_DATABASE}
      - DATABASE_URL_TEST=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@mariadb/test_${DB_DATABASE}
      - DB_POOL_SIZE=${DB_POOL_SIZE}
      - DB_POOL_TIMEOUT=${DB_POOL_TIMEOUT}
      - DB_POOL_RECYCLE=${DB_POOL_RECYCLE}
      - DB_MAX_OVERFLOW=${DB_MAX_OVERFLOW}
      - DB_CONNECT_TIMEOUT=${DB_CONNECT_TIMEOUT}
      - DB_READ_TIMEOUT=${DB_READ_TIMEOUT}
      - DB_WRITE_TIMEOUT=${DB_WRITE_TIMEOUT}
      # Redis settings
      - REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
    command: ["sh", "./init-prod.sh"]
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - backend-network
    restart: always    
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail localhost:5000/healthz || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5

  mariadb:
    image: mariadb:11.3
    environment:
      - TZ=${TIMEZONE}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
      - ./db/custom.cnf:/etc/mysql/conf.d/custom.cnf
      - ./db/init-test-db.sh:/docker-entrypoint-initdb.d/init-test-db.sh
    networks:
      - backend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin --user=$${MYSQL_USER} --password=$${MYSQL_PASSWORD} --host=localhost ping"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 5
      
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.2
    environment:
      - TZ=${TIMEZONE}
      - PMA_HOST=mariadb
      - PMA_USER=root
      - PMA_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - ./phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - backend-network
    restart: always

  redis:
    image: redis:8.4.0
    environment:
      - TZ=${TIMEZONE}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis/docker-entrypoint.sh:/docker-entrypoint.sh
    user: root
    entrypoint: ["/docker-entrypoint.sh"]
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - backend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep -q PONG"]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 5

  redis-insight:
    image: redis/redisinsight:2.70
    environment:
      - TZ=${TIMEZONE}
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
      - RI_REDIS_ALIAS=${PROJECT_NAME}
      - RI_REDIS_USERNAME=default
      - RI_REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis-insight-data:/data
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - backend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:5540 || exit 1"]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 5

  loki:
    image: grafana/loki:3.5.3
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - loki-data:/loki
      - loki-wal-data:/wal
      - loki-tsdb-data:/loki/tsdb
      - loki-tsdb-index-data:/loki/tsdb-index
      - loki-tsdb-cache-data:/loki/tsdb-cache
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    user: root
    command: ["-config.file=/etc/loki/local-config.yaml", "-config.expand-env=true"]
    networks:
      - backend-network
    restart: always
    deploy:
      resources:
        limits:
          memory: 4G
        reservations:
          memory: 2G

  alloy:
    image: grafana/alloy:v1.10.0
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - alloy-data:/data
      - ./backend/logs:/var/log/backend
      - ./nginx/logs:/var/log/nginx
      - ./alloy/config.river:/etc/alloy/config.river
    command: ["run", "--storage.path=/data", "/etc/alloy/config.river"]
    networks:
      - backend-network
    restart: always
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:12.2.0-16557133545
    environment:
      - TZ=${TIMEZONE}
      - SSL_ENABLE=${SSL_ENABLE}
      - GRAFANA_HOST=${GRAFANA_HOST}
      - GRAFANA_PORT=${GRAFANA_PORT}
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=*
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_FEATURE_TOGGLES_LOGSINFINITESCROLLING=true
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/entrypoint.sh"]
    user: root
    depends_on:
      - loki
    networks:
      - backend-network
      - frontend-network
    restart: always

volumes:
  db-data:
  redis-data:
  redis-insight-data:
  alloy-data:
  loki-data:
  loki-wal-data:
  loki-tsdb-data:
  loki-tsdb-index-data:
  loki-tsdb-cache-data:
  grafana-data:

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge