version: 1
disable_existing_loggers: True
formatters:
  default:
    format: "%(asctime)s [%(levelname)s] %(name)s: %(message)s"
handlers:
  file:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: default
    filename: logs/app.log
    when: midnight
    backupCount: 7
    encoding: utf-8
    utc: false
  console:
    class: logging.StreamHandler
    formatter: default
    level: INFO
loggers:
  uvicorn:
    handlers: []
    level: INFO
    propagate: no
  uvicorn.error:
    handlers: []
    level: INFO
    propagate: no
  uvicorn.access:
    handlers: []
    level: INFO
    propagate: no
  watchfiles:
    handlers: [console]
    level: WARNING
    propagate: no
  watchfiles.main:
    handlers: [console]
    level: WARNING
    propagate: no
  sqlalchemy.engine:
    handlers: []
    level: INFO
    propagate: no
  passlib:
    handlers: [console]
    level: WARNING
    propagate: no
  apscheduler:
    handlers: [console]
    level: WARNING
    propagate: no
root:
  handlers: [file, console]
  level: DEBUG