# IP whitelist for `geo $allowed`
#
# Default behavior:
# - `nginx.conf` uses `default 1;` => allow all requests
#
# Enable whitelist mode:
# - Change `nginx.conf` to `default 0;`
# - Then uncomment/add allowed IPs/subnets below (use `1;` to allow)
#
# Examples:
# - Allow localhost
#   127.0.0.1/32 1;
#
# - Allow private networks
#   10.0.0.0/8 1;
#   172.16.0.0/12 1;
#   192.168.0.0/16 1;
#
# - Optional
#   100.64.0.0/10 1;
